{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/core.css' %}">
    <link rel="stylesheet" href="{% static 'http://at.alicdn.com/t/font_1876229_0zx71ac47svq.css' %}">
    <title>电影</title>
</head>

<body>
<div class="container">
    <div class="ad">
        <div class="gifleft"></div>
        <div class="adshow"></div>
        <div class="gifright"></div>
    </div>

    <div class="content">
        <div class="container_inner">
            <div class="joker">
                <div class="jokeshow">
                    <div class="joke">
                        GOTO联垃圾堆里看见啥lakj镂空设计答复了快速减肥的就是地方了看见收到了空间色调分离围殴瑞丽为肉山东矿机vljk是vnbsfojfp钢结构就管理会计十多个离开家公司的
                        来的快放假了十几个我偶家搜房高搜if攻击哦斯蒂芬oiuweroioieuor噢诶UR我IE如 怕我儿扶贫搜的是反对派公私兼顾速度更快了解 老师看到几个山东科技两个
                    </div>
                </div>
            </div>

            <div class="details">
                <div class="left">
                    <div class="btnhome">
                        <div class="home">
                            <a class="backhome" href="">
                                <span>GOTO主页</span>
                            </a>
                        </div>
                        <div class="contact">
                            <a class="contactme" href="">
                                <span>GOTO联系我</span>
                            </a>
                        </div>
                    </div>
                    <div class="contentleft"></div>
                </div>
                <div class="zhanwei"></div>
                <div id="haha" class="contentright">
                {{  }}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>